.container{
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  justify-content: space-between;
  width: 250px;
}

.container-details {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.text-title{
  font-weight: bold;
  font-size: 120%;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.text-description{
  text-transform: capitalize;
}

.button-remove{
  color: white;
  padding: 5px 5px;
  margin: 0 0 0 20px;
  min-width: 40px;
  min-height: 40px;
  align-self: self-start;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f64e4e;
  border-radius: 5px;
}

.button-remove:hover{
  background-color: #b00219;
}
