<div class="container{{this.isExpanded? ' expanded':''}}" (mouseover)="expand()" (mouseleave)="minimize()">
  <div class="container-details {{this.todoItem?.done ? 'done': ''}}">
    <span class="text-title{{this.isExpanded? ' expanded':''}}"> {{ todoItem?.title }}</span>
    <span class="text-description{{this.isExpanded? ' expanded':''}}"> {{ todoItem?.description }} </span>
    <span class="text-date"> {{ todoItem?.date }}</span>
  </div>
  <div class="container-actions">
    <button class="button-remove" (click)="remove()">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
    <button class="button-done {{this.todoItem?.done ? 'done': ''}}" (click)="done()">
      <mat-icon fontIcon="{{this.todoItem?.done ? 'remove_done' : 'done_all'}}"></mat-icon>
    </button>
  </div>
</div>
