.container{
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  justify-content: space-between;
  width: 250px;
  height: 150px;
  transition: all .2s;
  &.expanded{
    transform: scale(120%);
  }
}

.container-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;

  &.done {
    text-decoration: line-through;
  }
}

.text-title{
  font-weight: bold;
  font-size: 120%;
  text-transform: capitalize;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   &.expanded{
    font-size: 100%;
    -webkit-line-clamp: 3;
    line-clamp: 3; 
  }
}

.inputs {
  border: none;
  text-align: left;
  background-color: ghostwhite;
  height: 20px;
  margin: 5px 0;

  &.title {
    font-weight: bold;
  }
  &.description {
    height: 70px;
    resize: none;
  }
}

.text-description{
  text-transform: capitalize;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3; 
  -webkit-box-orient: vertical;
  height: 70px;
  border: none;
  outline: none;
  resize: none;
  font-size: 100%;
  
  &.expanded{
    font-size: 80%;
    -webkit-line-clamp: 4;
    line-clamp: 4; 
  }
}

.text-date{
  text-transform: capitalize;
  font-style: italic;
  &.expanded{
    font-size: 80%;
  }
}

.button-remove{
  color: white;
  padding: 5px 5px;
  margin: 0 0 0 20px;
  min-width: 40px;
  min-height: 40px;
  align-self: self-start;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f64e4e;
  border-radius: 5px;
}

.button-remove:hover{
  background-color: #b00219;
}

.button-done{
  color: white;
  padding: 5px 5px;
  margin: 0 0 0 20px;
  min-width: 40px;
  min-height: 40px;
  align-self: self-start;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #60b114;
  border-radius: 5px;

  &.done {
    background-color: #d9dd21;
  }
}

.button-done:hover{
  background-color: #366108;

  &.done {
    background-color: #808210;
  }
}

.button-edit{
  color: white;
  padding: 5px 5px;
  margin: 0 0 0 20px;
  min-width: 40px;
  min-height: 40px;
  align-self: self-start;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #ae14b1;
  border-radius: 5px;
}

.button-edit:hover{
  background-color: #390534;
}


.container-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}