<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="text-container">
    <label class="labels" for="title">Title</label>
    <input class="inputs" type="text" id="title" name="title" [(ngModel)]="todoItem.title" required>
    <label class="labels" for="description">Description</label>
    <input class="inputs" type="email" id="description" name="description" [(ngModel)]="todoItem.description" required>
  </div>
  <button class="button-add" type="submit">
    <mat-icon fontIcon="note_add"></mat-icon>
  </button>
</form>
