.form-container{
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  justify-content: space-between;
  width: 250px;
}

.text-container{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.labels{
  text-align: left;
  font-weight: bold;
  margin: 5px 0;
  font-size: 120%;
}

.inputs{
  border: none;
  text-align: left;
  background-color: ghostwhite;
  height: 20px;
  margin: 5px 0;
  
  &.description {
    height: 70px;
    resize: none;
  }
}

.button-add{
  color: white;
  padding: 5px;
  margin: 0 0 0 20px;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
  align-self: self-start;
  justify-self: flex-end;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #5db902;
}

.button-add:hover{
  background-color: #326902;
}

